# Skin Cancer Identification

In [3]:
# import necessary libraries
import pandas as pd
import numpy as np

In [5]:
# read the csv file that contains the imape labels (classes)

sc_labels = pd.read_csv('GroundTruth.csv')
sc_labels.head()

          image  MEL   NV  BCC  AKIEC  BKL   DF  VASC
0  ISIC_0024306  0.0  1.0  0.0    0.0  0.0  0.0   0.0
1  ISIC_0024307  0.0  1.0  0.0    0.0  0.0  0.0   0.0
2  ISIC_0024308  0.0  1.0  0.0    0.0  0.0  0.0   0.0
3  ISIC_0024309  0.0  1.0  0.0    0.0  0.0  0.0   0.0
4  ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0

In [7]:
# Check for missing values
sc_labels.isna().sum()

image    0
MEL      0
NV       0
BCC      0
AKIEC    0
BKL      0
DF       0
VASC     0
dtype: int64

In [11]:
for column in sc_labels.columns[1:]:
    unique_values = sc_labels[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'MEL': [0. 1.]
Unique values in column 'NV': [1. 0.]
Unique values in column 'BCC': [0. 1.]
Unique values in column 'AKIEC': [0. 1.]
Unique values in column 'BKL': [0. 1.]
Unique values in column 'DF': [0. 1.]
Unique values in column 'VASC': [0. 1.]

In [29]:
# Check for rows with multiple 1.0 labels in the binary columns
rows_with_multiple_ones = []
for index, row in sc_labels.iterrows():
    if sum(row.iloc[1:]) > 1:  # Exclude the first column
        rows_with_multiple_ones.append(index)

if rows_with_multiple_ones:
    print("Rows with multiple '1.0' labels:")
    for index in rows_with_multiple_ones:
        print(sc_labels.iloc[index])
else:
    print("No rows with multiple '1.0' labels.")

No rows with multiple '1.0' labels.

The information above indicates that we have a clean dataset, no missing values and unique identifiers for each image.

One issue that will be dealt with later is that the images are not standardized, thit is the images vary in sizes.  This will be handled when the images are prepared as part of the loading step of the data to the convolution neural network.